body {
  background-color: rgb(10, 184, 190);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.heading1 {
  color: darkblue;
}
.heading2 {
  color: maroon;
}
#your-name {
  background-color: rgb(238, 71, 10);

  border : 2px solid
}
